<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Title</title>-->
    <!--<th:block th:insert="base :: bootstrap-css"></th:block>-->
    <!--<link rel="stylesheet" type="text/css" href="../static/css/styleProfile2.css">-->


<!--</head>-->
<!--<body>-->

<!--<div>-->
<!--<div class="title">-->
    <!--<h1><span style="color: #ff9f43">Tou</span><span style="color: #0abde3">rist</span> <span style="color: #ee5253">Attr</span><span style="color: #00d2d3">acti<span><span style="color: #5f27cd">ons<span></h1>-->
<!--</div>-->
<!--<div class="card1">-->
    <!--<img src="https://image.flaticon.com/icons/png/512/64/64572.png" alt="">-->
    <!--<h3>Profile 1</h3>-->
    <!--<div class="social1">-->
        <!--<div class="social-container">-->
            <!--<ul class="social-icons">-->
                <!--<li><a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></li>-->
                <!--<li><a href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a></li>-->
                <!--<li><a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>-->
                <!--<li><a href="https://www.github.com/"><i class="fa fa-github"></i></a></li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash;<p>The Egyptian pyramids are ancient pyramid-shaped &ndash;&gt;-->
        <!--&lt;!&ndash;masonry structures located in Egypt. As of November 2008, &ndash;&gt;-->
        <!--&lt;!&ndash;sources cite either 118 or 138 as the number of identified Egyptian pyramids.</p>&ndash;&gt;-->
<!--</div>-->

<!--&lt;!&ndash;<div class="card2">&ndash;&gt;-->
    <!--&lt;!&ndash;<img src="https://image.flaticon.com/icons/png/512/64/64572.png" alt="Eiffel Tower">&ndash;&gt;-->
    <!--&lt;!&ndash;<h3>Profile 2</h3>&ndash;&gt;-->
    <!--&lt;!&ndash;<p>The Statue of Liberty is a colossal neoclassical sculpture on Liberty Island in New York Harbor in New York City, in the United States.</p>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;<div class="card3">&ndash;&gt;-->
    <!--&lt;!&ndash;<img src="https://image.flaticon.com/icons/png/512/64/64572.png" alt="">&ndash;&gt;-->
    <!--&lt;!&ndash;<h3>Profile 3</h3>&ndash;&gt;-->
    <!--&lt;!&ndash;<p>The Taj Mahal is an ivory-white marble mausoleum on the south bank of the Yamuna river in the Indian city of Agra. It was commissioned in 1632 by the Mughal emperor.</p>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<div class="footer">-->
<!--</div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->