<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:insert="base :: bootstrap-css"></th:block>
    <link rel="stylesheet" type="text/css" href="../static/css/styleProfile.css">


</head>
<body>
<div class="container-fluid">
<div th:insert="base :: navbar"></div>

<div class="profile">
    <div class="card-deck">
        <div class="card">
            <img src="https://image.flaticon.com/icons/png/512/64/64572.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Kelly</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>



            <ul class="social-icons">
                <li><a href="https://www.instagram.com/"><i class="fa fa-instagram">Instagram</i>
                </a>
                </li>
                <li><a href="https://www.twitter.com/"><i class="fa fa-twitter">Twitter</i>
                </a>
                </li>
                <li><a href="https://www.linkedin.com/"><i class="fa fa-linkedin">Linkedin</i>
                </a>
                </li>
                <li><a href="https://www.github.com/"><i class="fa fa-github">Github</i>
                </a>
                </li>
            </ul>


            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img src="https://image.flaticon.com/icons/png/512/64/64572.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Bob</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>


            <ul class="social-icons">
                <li><a href="https://www.instagram.com/"><i class="fa fa-instagram">Instagram</i>
                </a>
                </li>
                <li><a href="https://www.twitter.com/"><i class="fa fa-twitter">Twitter</i>
                </a>
                </li>
                <li><a href="https://www.linkedin.com/"><i class="fa fa-linkedin">Linkedin</i>
                </a>
                </li>
                <li><a href="https://www.github.com/"><i class="fa fa-github">Github</i>
                </a>
                </li>
            </ul>



            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img src="https://image.flaticon.com/icons/png/512/64/64572.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Yun</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>

            <ul class="social-icons">
                <li><a href="https://www.instagram.com/"><i class="fa fa-instagram">Instagram</i>
                </a>
                </li>
                <li><a href="https://www.twitter.com/"><i class="fa fa-twitter">Twitter</i>
                </a>
                </li>
                <li><a href="https://www.linkedin.com/"><i class="fa fa-linkedin">Linkedin</i>
                </a>
                </li>
                <li><a href="https://www.github.com/"><i class="fa fa-github">Github</i>
                </a>
                </li>
            </ul>



            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>